body{
    font-family: poppins;
}

.header-text{
    text-align: center;
}

.header-1,.header-2{
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.header-3{
    font-size: 15px;
    padding-left: 400px;
    padding-right: 400px;
}

.main-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 30px;
    
}

.card-1{
    width:350px;
    margin-top: 100px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 8px 6px hsla(229, 6%, 66%,0.5);
                  
    
}

.card-1,.card-4{
    margin-top: 100px;
}


.card-2,.card-4,.card-3{
    width:350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 8px 6px hsla(229, 6%, 66%,0.5);
    
}

.card{
    padding: 20px;
}

.bg1{
    background-color: hsl(0, 78%, 62%);
    width: 100%;
    height: 5px;
}

.bg2{
    background-color: hsl(180, 62%, 55%);
    width: 100%;
    height: 5px;
}

.bg3{
    background-color: hsl(34, 97%, 64%);
    width: 100%;
    height: 5px;
}

.bg4{
    background-color: hsl(212, 86%, 64%);
    width: 100%;
    height: 5px;
}

.grid-2{
    display:flex;
    flex-direction: column;
    gap:20px
}

img{
    margin-left: 80%;
    padding-top: 50px;
}

@media (max-width:500px){

    body{
        justify-content: center;
        align-items: center;
    }
    .main-page{
        display: flex;
       flex-direction: column;
        padding-left: 20px;
        gap:30px;
     
        
    }

    .header-3{
        padding:10px;
    }

    .grid-3{
        margin-top:-100px;
    }
}
